:root {
    --background-color: rgb(1, 7, 38);
    --secondary-color: #f5fafc;
    --text-color: white;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Alegreya", serif;
    background-color: var(--background-color);
    color: var(--text-color);
    background-image: url("assets/background-optimized.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 0 1rem;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    opacity: 0.5;
    z-index: -1;
}

.logo {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}